.gold-lines {
  top: 0;
  position: absolute;
  left: 10vw;
  z-index: 9;
}

@-webkit-keyframes goldshine {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@-moz-keyframes goldshine {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@keyframes goldshine { 
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}

.gradient {
    background: linear-gradient(32deg, #814f2f 0%, #6b4c2d 30%, #a58a55 48%, #e5d4b5 56%, #967857 60%, #814f2f 100%);
    background-size: 200% 200%;
    -webkit-animation: goldshine 10s ease infinite;
    -moz-animation: goldshine 10s ease infinite;
    animation: goldshine 10s ease infinite;
}

.gold1 {
  width: 14px;
  height: 1371px;
  display: inline-block;
}

.gold2 {
  width: 7px;
  height: 1248px;
  margin-left: 21px;
  display: inline-block;
  vertical-align: top;
}

.home-banner {
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 50% 100%, 0 80%);
  max-width: 1400px;
  margin: 0 auto;
  min-height: 550px;
}

.map {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.map img {
  height: auto;
  width: 100%;
}

.map-description {
  max-width: 850px;
  margin: auto;
  text-align: left;
  margin-bottom: 80px;
}

.home .places-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  margin: 40px 0;
}

.home .places-container a {
  margin: 0 15px;
  color: #c8bbab;
}

.home .places-container a img {
  width: 100%;
  height: auto;
  padding: 0;
}

.home .icon {
  height: 75px;
  z-index: 100;
  position: relative;
}

.logo-header-container {
  height: 100%;
  position: relative;
}

.logo-header-container img {
  height: 180px;
  position: absolute;
  right: 68px;
  top: 243px;
}

@media screen and (max-width: 40em) {
  .map {
    width: 95vw;
  }
}
