.home a {
  text-decoration: none;
}

.home .intro-inner-wrapper {
  margin-right: 130px;
  max-width: 420px;
  color: white;
  margin-left: auto;
  padding: 0 20px;
  position: relative;
  text-align: left;
}

.home .intro-inner-wrapper h1, .home .intro-inner-wrapper p {
  color: white;
}

.home .intro-inner-wrapper h1 {
  font-family: 'Grenze Gotisch', serif;
  font-size: 35px;
}

.home .intro-inner-wrapper p {
  font-size: 25px;
}

.home .introduction {
  position: relative;
  margin-top: -5vw;
  color: black;
}

.home .introduction .map-container {
  background-color: rgba(96, 122, 123, 0.25);
}

.home .introduction:before {
  background-size: 5200px;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 350px;
  top: calc(-340px + 5vw);
  background-repeat: no-repeat;
  background-position: center 100%;
  background-image: url("./images/intro-bg-trees_large.svg");
}

.home .introduction .map img {
  height: auto;
  width: 100%;
}

.home .places-container {
  margin: auto;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
}

.home .places-container .country {
  width: 200px;
  text-align: left;
  border: 1px solid black;
  height: 300px;
  margin: auto;
  display: inline-block;
}

.home .places-container .country h4 {
  color: white;
  margin-top: 225px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.35);
  text-align: right;
  font-family: 'Grenze Gotisch', serif;
  font-size: 20px;
}

.home h2, .home h3 {
  font-family: 'Grenze Gotisch', serif;
  margin: 0;
  position: relative;
}

.home h2 {
  font-size: 30px;
}

.home h3 {
  font-size: 25px;
}

.home .icon {
  height: 75px;
  z-index: 100;
  position: relative;
}

.map-container {
  display: flex;
}

.map-container .map {
  width: 70%;
}

.map-container .map-description {
  width: 30%;
  padding: 0 20px;
}

@media screen and (max-width: 40em) {
  .home .introduction p {
    padding: 0 20px;
  }
  .page-intro {
    padding-top: 20px !important;
  }
  .page-intro p {
    display: none;
  }
  .map-container {
    display: block;
  }
  .map-container .map {
    width: 100%;
  }
  .map-container .map-description {
    width: 90%;
    padding: 20px;
  }
}

.country-section {
  margin-bottom: 100px;
}
