.country-container {
  max-width: 900px;
  margin: auto;
  text-align: left;
  h5 {
    color: darkred;
  }
  img {
    width: 100%;
  }
  h1 {
    font-family: 'Grenze Gotisch', serif;
    padding: 0 20px;
    font-size: 40px;
    margin-bottom: 0;
    line-height: 40px;
  }
  h4 {
    padding: 0 20px;
    margin-top: 0;
  }
  .description, .brief {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 0 10px;
    ul {
      list-style: none;
      padding-left: 5px;
      img {
        height: 150px;
        width: 150px;
        display: block;
      }
      li {
        margin-bottom: 20px;
      }
    }
    .brief-item ul {
      margin: 3px 0 3px 45px;
      a {
        color: cornflowerblue;
      }
      li {
        margin: 0;
      }
    }
  }
  .brief {
    .brief-item {
      margin: 10px 0;
    }
    .icon {
      width: 20px;
      display: inline;
      margin: 0 10px;
    }
  }
  h6 {
    margin-bottom: 0; 
  }
  @media screen and (max-width: 40em) {
    .description, .brief {
      width: 100%;
    }
  }
}